@model IEnumerable<MitalisBooks.Models.Product>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*   Home Index   *@

<h2><strong>Welcome to Mitali's Book Store.</strong></h2>
<p>Find all your desired books at this library store.</p>

<div class="row pb-3 backgroundWhite">

    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12  p-1" style="border:2px solid black; border-radius: 5px;">
                    <div class="card" style="border:0px;">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <br />
                        <div class="pl-1">
                            <p class="card-title h5"><b style="color:#2c3e50">@product.Title</b></p>
                            <p class="card-title text-primary">by <b>@product.Author</b></p>
                        </div>
                        <div style="padding-left:5px;">
                            <p>List Price: <strike><b class="">$ @product.ListPrice.ToString("0.00")</b></strike></p>
                        </div>
                        <div style="padding-left:5px;">
                            <p style="color:maroon">As low as: <b class="">$@product.Price.ToString("0.00")</b></p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" style="background-color:#863A6F; color: white "class="btn btn-primary form-control" asp-route-id="@product.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
